* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
}

.navbar {
  background-color: #212121;
  height: 51px;
}

.navbar .hamburger {
  display: none;
}

.nav_link {
  height: 51px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  border-right: solid 2px #ffffff;
  line-height: 40px;
  padding-right: 31px;
  padding-left: 31px;
  text-decoration: none;
}

.nav_link_none {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding-left: 31px;
}

.nav_link_one {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding-left: 149px;
  padding-right: 31px;
  border-right: solid 2px #ffffff;
}

header .header_subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  z-index: 1;
  position: relative;
}

header .header_subheader .container {
  position: relative;
}

header .header_subheader .container a {
  display: inline-block;
}

header .header_subheader .container .U_descr {
  display: inline-block;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  position: absolute;
  left: 171px;
  top: 38px;
}

header .header_subheader .container .header_subheader_call {
  position: absolute;
  top: 7px;
  right: 374px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #ffffff;
}

header .header_subheader .container .header_subheader_number {
  display: inline-block;
  font-size: 22px;
  line-height: 68px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  top: 5px;
  right: 374px;
  position: absolute;
}

header .header_subheader .container button {
  display: inline-block;
  position: absolute;
  right: 167px;
  top: 0px;
  width: 178px;
  height: 52px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: 3px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

header .header_subheader .container .U {
  position: absolute;
  left: 171px;
}

header .header_subheader .container .U_777 {
  position: absolute;
  left: 216px;
  top: 6px;
}

.main {
  min-height: 883px;
  background: url(../img/BG_1.jpg) center center/cover no-repeat;
  -webkit-transform: translateY(-84px);
          transform: translateY(-84px);
  padding: 151px 0px 132px 0px;
}

.main .container .main_title {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 233px;
}

.main .container .main_subtitle {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.main .container .main_descr {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 23px 170px;
}

.main .container .main_button {
  width: 265px;
  height: 69px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: 3px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
          box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  margin-top: 146px;
  border-radius: 5px;
}

.reasons {
  min-height: 900px;
  padding-bottom: 65px;
}

.reasons .container .reasons_label {
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.reasons .container .reasons_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 20px;
}

.reasons .container .row .col-md-6 .reasons_box {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons .container .row .col-md-6 .box_descr {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  color: #202020;
  width: 382px;
  height: 144px;
  vertical-align: middle;
  margin: 40px 0 0 26px;
  text-align: justify;
}

.reasons .container .row .col-md-6 .box_descr span {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}

.mobile {
  min-height: 864px;
  background: url(../icons/Mobile.png) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}

.mobile_label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  width: 112px;
  height: 24px;
  background-color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 24px;
}

.mobile_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 19px;
}

.mobile_subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #a98484;
  text-align: center;
  margin-top: 10px;
}

.mobile .container .row .col-xl-4 .mobile_documentation {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_one.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_reliable {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_two.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_transparent {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_three.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_cashless_payment {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_four.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_counter {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_five.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_divide {
  margin-top: 15px;
  width: 320px;
  height: 280px;
  background: url(../img/Mobile_six.jpg) center center/cover no-repeat;
}

.mobile .container .row .col-xl-4 .mobile_descr {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 92px;
}

.mobile .container .row .col-xl-4 .mobile_plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  margin: 75px 147px;
  position: relative;
}

.mobile .container .row .col-xl-4 .mobile_plus::before {
  content: '';
  display: block;
  height: 2px;
  width: 70%;
  background-color: #1eacc7;
  position: absolute;
  top: 50%;
  left: 18%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile .container .row .col-xl-4 .mobile_plus::after {
  content: '';
  display: block;
  width: 2px;
  height: 70%;
  background-color: #1eacc7;
  position: absolute;
  left: 50%;
  top: 18%;
}

.choice {
  height: 499px;
  background-color: #070716;
  padding-top: 57px;
}

.choice_label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #070716;
  width: 112px;
  height: 24px;
  background-color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 24px;
}

.choice_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 19px;
}

.choice_subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.choice img {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
}

.choice_bottom {
  height: 397px;
  background: url(../icons/Mobile.png);
}

.choice_bottom_text {
  font-size: 17px;
  line-height: 24px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  padding-top: 217px;
}

.condition {
  min-height: 919px;
  padding: 68px 0 84px 0;
}

.condition .col-md-6 {
  margin-top: 33px;
}

.condition_label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  width: 112px;
  height: 24px;
  background-color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 24px;
}

.condition_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-top: 19px;
}

.condition_title_red {
  margin-top: 29px;
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
  color: #ff5656;
}

.condition_title_blue {
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
  color: #1eacc7;
}

.condition_text_red and .condition_text_blue {
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  vertical-align: middle;
  line-height: 15px;
}

.condition_text_blue::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../icons/tickmark_blue.png);
  vertical-align: middle;
  margin: 6px 10px 7px 19px;
}

.condition_text_red::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../icons/tickmark_red.png);
  vertical-align: middle;
  margin: 6px 10px 7px 19px;
}

.condition_blue {
  font-size: 17px;
  font-weight: 300;
  color: #1eacc7;
}

.world {
  min-height: 717px;
  background: url(../img/World.jpg) center center/cover no-repeat;
  padding: 49px 0;
}

.world_label {
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #070716;
  width: 112px;
  height: 24px;
  background-color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 24px;
}

.world_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 19px;
}

.world_subtitle {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.world_footer {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-align: center;
  vertical-align: text-bottom;
  margin-top: 486px;
}

.footer {
  min-height: 156px;
  padding-top: 14px;
  position: relative;
}

.footer_line {
  width: 299px;
  height: 4px;
  background-color: #1eacc7;
  margin: 0 auto;
}

.footer_icon_box {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #070716;
  margin-top: 37px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_icon_box span {
  color: #ffffff;
}

.footer .facebook {
  margin-left: 23px;
}

.footer_nav {
  width: 404px;
  margin: 0 auto;
}

.footer_nav_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_nav_title_link {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}

.footer_nav_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.footer_nav_subtitle_link {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

.footer_nav_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.footer_nav_language_link {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
  text-decoration: none;
}

.footer_nav_download {
  width: 296px;
  height: 27px;
  background: url(../icons/links.png);
  position: absolute;
  right: 23px;
  top: 52px;
}

.footer_finish_line {
  height: 8px;
  background-color: #070716;
  margin-top: 31px;
}

@media (max-width: 1400px) {
  .nav_link_one {
    padding-left: 86px;
  }
  header .header_subheader .container button {
    right: 80px;
  }
  header .header_subheader .container .header_subheader_number {
    right: 280px;
  }
  header .header_subheader .container .header_subheader_call {
    right: 280px;
  }
  .main .container .main_title {
    margin: 0 143px;
  }
  .main .container .main_descr {
    margin: 23px 90px;
  }
}

@media (max-width: 1200px) {
  .nav_link {
    padding: 0 18px;
  }
  .nav_link_one {
    padding-left: 21px;
  }
  .nav_link_none {
    padding-left: 15px;
  }
  .main .container .main_title {
    font-size: 45px;
  }
  .main .container .main_subtitle {
    font-size: 32px;
  }
  header .header_subheader .container .U {
    left: 40px;
  }
  header .header_subheader .container .U_777 {
    left: 80px;
  }
  header .header_subheader .container .U_descr {
    left: 80px;
  }
  .reasons .container .row .col-md-6 .reasons_box {
    width: 100px;
    height: 100px;
  }
  .reasons .container .row .col-md-6 .box_descr {
    font-size: 14px;
    width: 340px;
    margin: 40px 0 0 10px;
  }
}

@media (max-width: 992px) {
  .nav_link {
    padding: 0 5px;
    font-size: 13px;
  }
  .nav_link_one {
    padding: 0 20px;
    font-size: 13px;
  }
  .nav_link_none {
    padding: 0 5px;
    font-size: 13px;
  }
  header .header_subheader .container .U {
    left: 40px;
  }
  header .header_subheader .container .U_777 {
    left: 80px;
  }
  header .header_subheader .container .U_descr {
    left: 80px;
  }
  header .header_subheader .container .header_subheader_call {
    right: 210px;
  }
  header .header_subheader .container .header_subheader_number {
    right: 210px;
  }
  header .header_subheader .container button {
    right: 10px;
  }
  .reasons .container .row .col-md-6 .reasons_box {
    width: 82px;
    height: 82px;
  }
  .reasons .container .row .col-md-6 .box_descr {
    font-size: 11px;
    width: 250px;
    margin: 15px 0 0 10px;
  }
  .reasons .container .row .col-md-6 .box_descr span {
    font-style: 13px;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    position: relative;
  }
  nav.navbar .container-fluid .container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  nav.navbar .container-fluid .container_active {
    left: 0;
  }
  nav.navbar .container-fluid .container a {
    border-right: none;
    font-size: 17px;
  }
  nav.navbar .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 12px;
  }
  nav.navbar .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  nav.navbar .hamburger_active span {
    margin-bottom: -2px;
  }
  nav.navbar .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  nav.navbar .hamburger_active span:nth-child(2) {
    display: none;
  }
  nav.navbar .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  header .header_subheader .container .U_descr {
    display: none;
  }
  header .header_subheader .container .header_subheader_call {
    display: none;
  }
  header .header_subheader .container .U {
    left: 10px;
  }
  header .header_subheader .container .U_777 {
    left: 50px;
  }
  .main .container .main_title {
    font-size: 29px;
    margin: 0 60px;
  }
  .main .container .main_subtitle {
    font-size: 22px;
  }
  .main .container .main_descr {
    font-size: 14px;
    margin: 23px 50px;
  }
  .choice img {
    height: 230px;
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  .reasons .container .row .col-md-6 .reasons_box {
    width: 113px;
    height: 113px;
  }
  .reasons .container .row .col-md-6 .box_descr {
    font-size: 14px;
    width: 349px;
    margin: 30px 0 0 10px;
  }
  .reasons .container .row .col-md-6 .box_descr span {
    font-size: 17px;
  }
  .mobile_title {
    font-size: 20px;
  }
  .mobile_subtitle {
    font-size: 9px;
  }
}

@media (max-width: 576px) {
  header .header_subheader {
    height: 60px;
    padding: 0;
  }
  header .header_subheader .container button {
    display: inline-block;
    position: absolute;
    right: 167px;
    top: 0px;
    width: 116px;
    height: 28px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: 3px solid rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
            box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  header .header_subheader .container .U {
    position: relative;
    left: 15px;
    top: 22px;
  }
  header .header_subheader .container .U_777 {
    position: relative;
    left: 35px;
    top: 22px;
  }
  header .header_subheader .container .U_descr {
    display: none;
  }
  header .header_subheader .container .header_subheader_call {
    display: none;
  }
}
